<div>
  <h1>
    <span>Staff</span>
  </h1>
  <% if current_user.is_staff == 1 %>
      <% if @staff.blank? %>
      <p style="text-align: center; font-size: 18px;">No record found.</p>
  <% else %>

      <p></p>

      <table class="table table-bordered" border="1" width="100%" style="border-collapse: collapse;" id="tab">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Joining</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <%- @staff.each do |c| %>
            <tr>
              <td>
                <%= c.first_name %>
              </td>
              <td>
                <%= c.last_name %>
              </td>
              <td>
                <%= c.joining_date %>
              </td>
              <td>
                <%= c.email %>
              </td>
              <td>
                <%= link_to "Edit", staffs_staff_edit_path(:id => c.id), class: 'btn btn-success' %>
              </td>
              <td>
                <%= link_to "Delete", staffs_destroy_path(:id => c.id), method: :delete, data: {confirm: 'Are you sure you want to delete this record?'}, class: 'btn btn-danger' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
  <% else %>
      <%= link_to "Add Staff", staff_new_path, class: 'add_new_cls add_new btn btn-success' %>
      <% if @staff.blank? %>
          <p style="text-align: center; font-size: 18px;">No record found.</p>
      <% else %>

          <p></p>

          <table class="table table-bordered" border="1" width="100%" style="border-collapse: collapse;" id="tab">
            <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Date of Joining</th>
              <th>Email</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <%- @staff.each do |c| %>
                <tr>
                  <td>
                    <%= c.first_name %>
                  </td>
                  <td>
                    <%= c.last_name %>
                  </td>
                  <td>
                    <%= c.joining_date %>
                  </td>
                  <td>
                    <%= c.email %>
                  </td>
                  <td>
                    <%= link_to "Edit", staffs_staff_edit_path(:id => c.id), class: 'btn btn-success' %>
                  </td>
                  <td>
                    <%= link_to "Delete", staffs_destroy_path(:id => c.id), method: :delete, data: {confirm: 'Are you sure you want to delete this record?'}, class: 'btn btn-danger' %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>
  <% end %>
</div>
</div>
</div>