<h1 style="margin-left: 2%;">Add New Staff</h1>
<hr>

<%= form_for(resource, as: resource_name, url: registration_staff_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :joining_date %><br/>
      <%= f.date_field :joining_date, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :email, :class => 'email' %><br/>
      <%= f.email_field :email, autofocus: true, :required => true %>
    </div>

    <div class="field">
      <%= f.label :password, :class => 'password' %>
      <% if @minimum_password_length %>
          <em style="font-size:12px;">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "off", :required => true %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, :class => 'password_confirm' %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off", :required => true %>
    </div>
    <div class="actions">
      <%= f.submit "Save", class: 'login_btn', id: 'login_btn' %>
    </div>
<% end %>


